<rui-layout>
  <rui-navigation-drawer color="primary" flex sidenavTitle="Rapidui Business App" logo="assets:teradata" name="Firstname Lastname" email="firstname.lastname@company.com">
    <md-nav-list>
      <a *ngFor="let item of routes"
         md-list-item
         (click)="!media.query('gt-md') && layout.close()"
         [routerLink]="['/app', item.route]"
         routerLinkActive="active">
        <md-icon md-list-icon>{{item.icon}}</md-icon>
        {{item.title}}
      </a>
    </md-nav-list>
    <div rui-navigation-drawer-menu>
      <md-nav-list>
        <a *ngFor="let item of usermenu" md-list-item><md-icon>{{item.icon}}</md-icon>{{item.title}}</a>
      </md-nav-list>
    </div>
  </rui-navigation-drawer>
  <rui-layout-nav color="primary" toolbarTitle="{{titleService.title}}">
    <div rui-toolbar-content layout="row" layout-align="start center" flex>
      <button md-icon-button rui-menu-button tdLayoutToggle>
        <md-icon>menu</md-icon>
      </button>
      <md-icon [routerLink]="['/']" class="md-icon-logo cursor-pointer" svgIcon="assets:teradata"></md-icon>
      <span [routerLink]="['/']" class="cursor-pointer">Sample</span>
      <span flex></span>
    </div>
    <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
      <div flex-gt-sm="100">
        <router-outlet></router-outlet>
      </div>
    </div>
    <rui-layout-footer>
      <div layout="row" layout-align="start center">
        <span class="md-caption">Copyright &copy; 2016 - 2017 Wizni Inc. All rights reserved</span>
      </div>
    </rui-layout-footer>
  </rui-layout-nav>
</rui-layout>
