// class for route component animations
.td-route-animation {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cdk-overlay-pane {
  direction: ltr;
  html[dir="rtl"] & {
    direction: rtl;
  }
}

.mat-dialog-container {
    min-width: 40vw;
}

.mat-input-container,
.mat-select {
    display: block !important;
}

.mat-select {
    margin-bottom: 38px;
    margin-top: 20px;
}
